/* 
* @Author: Django Wong
* @Date:   2015-01-05 11:43:34
* @Last Modified by:   Wong
* @Last Modified time: 2015-01-05 11:58:13
*/
.scroller-y{position: absolute;width: 8px;height: 100%;top: 0;background-color: #f4f4f4;overflow: hidden;right: 0px;}
.scroller-y .handle{width: 100%; background-color: #C3C3C3; position: absolute;}
.scroller-x{width: 100%; height:8px; position: absolute;background-color: #f4f4f4;bottom: 0px;}
.scroller-x .handle{height:100%; background-color: #C3C3C3; position: absolute;}
.noselect{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}